li {
	list-style: none;
	border: 1px solid gray;
	padding: 0px 10px;
}

ul[data-title-id] {
	display: block;
	padding: 10px;
}

.title {
	background-color: lightblue;
	font-weight: bold;
	padding: 10px;

}